.jfx-snackbar-content {
    -fx-background-color: #000000;
}

.jfx-snackbar-toast {
    -fx-text-fill: #FFFFFF;
}

.text-input:disabled {
    -fx-opacity: 1.0;
}

<<<<<<< HEAD
=======
.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color:#bfafaf;
}

.menu-item:focused .label {
    -fx-text-fill: #003399
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #c0a0a0;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

#left-button {
    -fx-background-color: #326195;
    -fx-text-fill: #FFFFFF;
    -fx-ripppler-fill: #FFFFFF;
}

#right-button {
    -fx-background-color: #326195;
    -fx-text-fill: #FFFFFF;
    -fx-ripppler-fill: #FFFFFF;
}
>>>>>>> b1699df8abe8c2fba567423bfbb4fa49fcd32b7c
#clearDialog {
    -fx-spacing: 10;
}

#blue-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: #FFFFFF;
    -fx-ripppler-fill: #FFFFFF;
}

#bgimage{
    -fx-background-color: #b4cde5;
}