.jfx-snackbar-content {
    -fx-background-color: #000000;
}

.jfx-snackbar-toast {
    -fx-text-fill: #FFFFFF;
}

.text-input:disabled {
    -fx-opacity: 1.0;
}

#clearDialog {
    -fx-spacing: 10;
}

#blue-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: #FFFFFF;
    -fx-ripppler-fill: #FFFFFF;
}

#bgimage{
    -fx-background-color: b4cde5;
}